.editable-text-input {
  background: none;
  font-size: inherit;
  font-family: inherit;
  border-radius: 0.5em;
  width: 100%;
}

.editable-text-div {
  width: auto;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editable-text-button {
  overflow: hidden;
  text-align: left;
  width: 0;
  transition: width 0.25s ease-in;
}

.editable-text-button.show {
  width: 1.5em;
}
