.headstock {
  width: 100%;
  height: auto;
  fill: var(--headstock-color);
  fill-opacity: 1;
  stroke: var(--secondary-color);
  stroke-width: 0.5;
  stroke-dasharray: none;
  overflow: visible;
  stroke-opacity: 1;
  filter: var(--instrument-shadow);
}

.mic-button {
  stroke: none;
  cursor: pointer;
  transition: fill 0.25s;
}

.mic-button.on {
  fill: var(--deny-color);
}

.mic-button.off {
  fill: var(--confirm-color);
}

.mic-button-icon {
  fill: var(--main-color);
  pointer-events: none;
}
