.tuning-button {
  position: relative;
}

.peg-vector {
  z-index: 999;
}

.top-peg-button {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.middle-peg-button {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.bottom-peg-button {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.mic-icon {
  height: 50px;
  width: 50px;
}

img {
  filter: drop-shadow(6px 10px 4px rgb(200 200 200 / 0.1));
}

.headstock {
  fill: var(--background-color);
  fill-opacity: 1;
  stroke: var(--main-color);
  stroke-width: 0.347793;
  stroke-dasharray: none;
  stroke-opacity: 1;
}

.tuning-peg-svg {
  fill: var(--secondary-color);
}

.tuning-peg-note {
  fill: black;
}

.tuning-peg-button:hover {
  cursor: pointer;
}

.tuning-peg-adjuster {
  fill: black;
}

.tuning-peg-adjuster:hover {
  cursor: pointer;
}
