@keyframes rotateTuningButton {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.tuning-peg-svg {
  fill: var(--main-background-color);
  stroke-width: 0.5;
  stroke: var(--secondary-color);
  filter: drop-shadow(0px 0px 0px);
}

.tuning-peg-svg:hover {
  stroke: var(--main-color);
  cursor: pointer;
}

.tuning-peg-note {
  stroke: none;
  pointer-events: none;
  fill: var(--secondary-color);
}

.tuning-peg-adjuster {
  stroke: none;
  fill: var(--secondary-color);
  transition: fill 0.25s;
}

.tuning-peg-adjuster:hover {
  cursor: pointer;
  fill: var(--main-color);
}

.focused-peg {
  stroke: var(--primary-hue);
  filter: drop-shadow(0px 0px 2px var(--primary-hue));
}

.focused-peg:hover {
  stroke: var(--primary-hue);
  filter: drop-shadow(0px 0px 2px var(--primary-hue));
}

.tuned-peg {
  stroke: var(--confirm-color);
  filter: drop-shadow(0px 0px 2px var(--confirm-color));
}

.tuned-peg:hover {
  stroke: var(--confirm-color);
  filter: drop-shadow(0px 0px 2px var(--confirm-color));
}

.tuning-button-rotating {
  animation: rotateTuningButton 1s;
}
