.playlist-row {
  display: flex;
  padding: 0.125em 0.5em 0.125em 0.5em;
  gap: 0.5em;
}

.playlist-row:hover {
  background: var(--lighter-background-color);
}

.playlist-video-delete {
  visibility: hidden;
}

.playlist-row:hover .playlist-video-delete {
  visibility: visible;
}
