.queried-video-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-panel {
  --panel-margin: 0.5em;
  --search-button-height: 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.video-search-bar {
  pointer-events: auto;
  margin: var(--panel-margin) var(--panel-margin) 0em var(--panel-margin);
  width: 30%;
  display: flex;
  box-shadow: var(--main-shadow);
  transition: width 0.3s ease-in-out;
}

.video-search-bar.expanded {
  width: calc(100% - 2 * var(--panel-margin));
}

.queried-video-card {
  display: flex;
  align-items: center;
  align-content: left;
  padding: 0 0.5em;
  column-gap: 1em;
  height: 3.5em;
  margin: 0em;
  cursor: pointer;
}

.queried-video-card:hover {
  background-color: var(--lightest-background-color);
}

.queried-videos {
  pointer-events: auto;
  overflow-y: auto;
  margin: 0em var(--panel-margin) var(--panel-margin) var(--panel-margin);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  border-radius: 0 0 1em 1em;
  box-shadow: var(--main-shadow);
  transition: max-height 0.4s ease, opacity 0.3s ease;
}

.queried-videos.visible {
  overflow: auto;
  max-height: calc(
    100% - var(--search-button-height) - 2 * var(--panel-margin)
  );
  opacity: 1;
}

.collapsed-queried-videos {
  visibility: hidden;
}

.video-search-button {
  font-size: 1em;
  border-radius: 1em 0 0 1em;
  background-color: var(--main-background-color);
  height: var(--search-button-height);
  width: var(--search-button-height);
  box-shadow: var(--main-shadow);
  transition: border-radius 0.3s ease;
}

.video-search-bar.queried .video-search-button {
  border-radius: 1em 0 0 0;
}

.song-search-input {
  flex: 1; /* Makes it take up the remaining space */
  min-width: 5em;
  font-size: inherit;
  border-radius: 0em 1em 1em 0em;
  transition: border-radius 0.3s ease;
}

.video-search-bar.queried .song-search-input {
  border-radius: 0 1em 0 0;
}

.tutorials-filters-flex {
  display: flex;
  margin: 0.5em;
  align-items: center;
  justify-content: space-around;
}

.tutorial-filter-input {
  flex-shrink: 1;
  width: 5em;
  border-radius: 0.25em;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
}

.tutorial-instrument-filter {
  flex-shrink: 1;
  width: 5em;
  border-radius: 0.25em;
  font-size: inherit;
  font-family: inherit;
}
