.tabs-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
}

.tab-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
}

.tab-menu-item:hover {
  background-color: var(--lighter-background-color);
  cursor: pointer;
}

.tab-delete {
  visibility: hidden;
}

.tab-menu-item:hover .tab-delete {
  visibility: visible;
}
