.tabs-page {
  display: flex;
  justify-content: center;
  margin: auto;
  width: fit-content;
  gap: 1em;
  padding: 1em;
  height: 85%;
}

.tab-display {
  margin: auto;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em;
}

.tab-text-area {
  padding: 0.5em;
  height: 100%;
  width: 50em;
  background-color: var(--main-background-color);
  border-radius: 1em;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.tabs-page-sidebar {
  width: 10em;
  display: flex;
  flex-direction: column;
}

.tabs-menu {
  overflow-y: auto;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  flex: 1 1 0;
  min-height: 0;
}

.new-tab-button {
  width: 100%;
  border-radius: 1em;
  margin-top: 0.25em;
  border: 0.125em solid var(--secondary-color);
  background-color: var(--lightest-background-color);
}

@media only screen and (max-width: 600px) {
  .tabs-page {
    margin: auto;
    flex-direction: column;
    align-items: center;
    width: fit-content;
  }
}
