.tabs-page {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.tabs-ui {
  margin: 1em;
  display: flex;
  gap: 1em;
}

.tab-text-area {
  flex-grow: 1;
  padding: 0.5em;
  width: 40em;
  height: 100%;
  background-color: var(--main-background-color);
  border-radius: 1em;
  resize: none;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box;
}

.tabs-page-sidebar {
  flex: 1 1 0;
  width: 8em;
  display: flex;
  flex-direction: column;
}

.tabs-menu {
  overflow-y: auto;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  flex: 1 1 0;
  min-height: 0;
}

.saved-tabs-flex {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.tabs-tools-flex {
  display: flex;
  flex-direction: column;
}

.new-tab-button {
  width: 100%;
  border-radius: 1em;
  margin-top: 0.25em;
  border: 0.125em solid var(--secondary-color);
  background-color: var(--lightest-background-color);
}

@media only screen and (max-width: 600px) {
  .tabs-ui {
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
  }

  .tabs-page-sidebar {
    flex-direction: row;
    gap: 0.5em;
    width: fit-content;
  }

  .tab-text-area {
    width: 100%;
  }

  .tabs-menu {
    min-height: 10em;
  }
}
