.tuner-page {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (max-aspect-ratio: 1/1) {
  .tuner-page {
    flex-direction: column;
  }

  .tuning-menu {
    height: 30%;
    overflow-y: scroll;
    margin: auto;
  }

  .tuner {
    height: 70%;
  }
}

.tuning-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
}

.tuning-menu-item:hover {
  background: var(--lighter-background-color);
}

.tuning-menu {
  background-color: var(--stronger-background-color);
}

.instrument-select-panel {
  display: flex;
  background-color: var(--lighter-background-color);
}

.instrument-select-button {
  flex-basis: 25%;
  padding: 0.5em 0 0.5em 0;
  background-color: transparent;
  color: var(--primary-color);
}

.instrument-select-button:hover {
  flex-basis: 25%;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.instrument-selected-tab {
  flex-basis: 25%;
  background-color: var(--stronger-background-color);
  border-radius: 1em 1em 0em 0em;
}
