.tuner-page {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: space-between;
}

.tuner {
  margin-left: auto;
  margin-right: auto;
}

.tuning-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
}

.tuning-menu-item:hover {
  cursor: pointer;
  background: var(--lighter-background-color);
}

.tuning-menu {
  background-color: var(--stronger-background-color);
  width: 20em;
}

.tuning-help {
  width: 20em;
}

.instrument-select-panel {
  display: flex;
  background-color: var(--lighter-background-color);
}

.instrument-select-button {
  flex-basis: 25%;
  padding: 0.5em 0 0.5em 0;
  background-color: transparent;
  color: var(--primary-color);
}

.instrument-select-button:hover {
  flex-basis: 25%;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.tuning-table-delete {
  visibility: hidden;
}

.tuning-menu-item:hover .tuning-table-delete {
  visibility: visible;
}

.instrument-selected-tab {
  flex-basis: 25%;
  background-color: var(--stronger-background-color);
  border-radius: 1em 1em 0em 0em;
}

.tuning-name-input {
  background: none;
  border: none;
  font-size: 1em;
  width: max-content;
  min-width: 1ch;
}

.tuning-name-input:focus {
  outline: none;
  border: 1px solid var(--primary-hue);
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px var(--primary-hue);
}

.tuning-save-button {
  cursor: pointer;
  width: 100%;
  font-size: 2em;
  border-radius: 0.25em;
  background-color: var(--lighter-background-color);
  color: var(--secondary-color);
}

.tuning-save-button:hover {
  cursor: pointer;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.tuning-save-button:disabled {
  cursor: default;
  color: var(--lighter-background-color);
  background-color: transparent;
  border: 1px solid var(--lighter-background-color);
}
