.tutorials-page {
  width: 100%;
}

.tutorials-panel {
  display: flex;
  flex-direction: row;
  width: fit-content;
  column-gap: 1em;
  align-items: stretch;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.tutorials-queue {
  width: 20em;
  display: flex;
  flex-direction: column;
}

.tutorials-player-container {
  width: 40em;
}

.video-playlist {
  width: auto;
  padding: 1em;
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
}

@media only screen and (max-width: 600px) {
  .tutorials-page {
    margin: 0;
  }
  .tutorials-panel {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .tutorials-player-container {
    width: 100%;
  }
  .tutorials-queue {
    width: 100%;
    height: 20em;
  }
}
