.tutorials-page {
  min-height: calc(100vh - var(--navbar-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorials-panel {
  display: flex;
  margin: auto;
  width: 50em;
  flex-direction: row;
  column-gap: 1em;
  align-items: stretch;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.tutorials-queue {
  width: 12em;
  display: flex;
  flex-direction: column;
}

.tutorials-player-container {
  flex: 1 1 0;
}

.video-playlist {
  padding: 0.5em;
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  box-shadow: var(--inner-shadow);
}

.tutorials-loop-controls {
  display: flex;
  gap: 1em;
  margin-top: 1em;
  align-items: center;
  padding: 0.5em;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  box-shadow: var(--inner-shadow);
}

.tutorials-metronome-container {
  padding: 0.5em;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  box-shadow: var(--inner-shadow);
}

@media only screen and (max-width: 1024px) {
  .tutorials-page {
    align-items: stretch;
  }

  .tutorials-panel {
    margin: 1em;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
  }
  .tutorials-player-container {
    width: 100%;
  }
  .tutorials-queue {
    width: 100%;
    min-height: 15em;
    height: 100%;
  }

  .tutorials-loop-controls {
    margin-bottom: 1em;
  }
}
