.metronome{
  display:flex;
  align-items: center;
}

@keyframes metronome-dormant-animation {
  0%   {height: 53px; width: 53px;}
  50%  {height: 48px; width: 48px;}
  75% {height: 53px; width: 53px;}
  100% {height: 53px; width: 53px;}
}


.metronome-play-button{
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--main-background-color);
  transition: background-color 0.25s;
}

.metronome-play-button:hover{
  background-color: var(--main-color);
  color: var(--main-background-color)
}

.metronome-tap-button{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: transparent;
  color: var(--secondary-color);
  transition: color 0.25s; 
}

.metronome-tap-button:hover{
  color: var(--main-color);
}

.metronome-note{
  fill: var(--secondary-color);
}

.metronome-note-active{
  fill: var(--main-color);
}

.metronome-note-flex{
  display: flex;
  justify-content: space-between;
}

.metronome-bpm-slider{
  appearance: none;
  background-color: var(--secondary-color);
  color: var(--main-color);
  height: 10px;
}

.metronome-bpm-slider::-webkit-slider-thumb{
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: var(--main-background-color); /* Green background */
  cursor: pointer; /* Cursor on hover */
}
