.metronome {
  display: grid;
  grid-template-columns: min-content auto;
  gap: 0.5em;
  align-items: center;
}

.metronome-play-button {
  border-radius: 50%;
  color: var(--confirm-color);
  background-color: var(--main-background-color);
  transition: background-color 0.25s;
}

.metronome-play-button:hover {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.metronome-tap-button {
  border-radius: 50%;
  background-color: transparent;
  color: var(--secondary-color);
  transition: color 0.25s;
}

.metronome-tap-button:hover {
  color: var(--main-color);
}

.metronome-note {
  fill: var(--main-color);
  height: 1em;
}

.metronome-note-active {
  fill: var(--confirm-color);
  height: var(--button-font-size);
}

.metronome-note-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  font-size: 0.5em;
}

.metronome-base-button:disabled {
  color: transparent;
  cursor: default;
}
