.metronome {
  margin: 0.5em;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  row-gap: 0.5em;
  column-gap: 0.5em;
  align-items: center;
}

@keyframes metronome-dormant-animation {
  0% {
    height: 53px;
    width: 53px;
  }
  50% {
    height: 48px;
    width: 48px;
  }
  75% {
    height: 53px;
    width: 53px;
  }
  100% {
    height: 53px;
    width: 53px;
  }
}

.metronome-play-button {
  border-radius: 50%;
  color: var(--secondary-color);
  background-color: var(--main-background-color);
  transition: background-color 0.25s;
}

.metronome-play-button:hover {
  color: var(--main-color);
  background-color: var(--main-background-color);
}

.metronome-tap-button {
  border-radius: 50%;
  background-color: transparent;
  color: var(--secondary-color);
  transition: color 0.25s;
}

.metronome-tap-button:hover {
  color: var(--main-color);
}

.metronome-note {
  fill: var(--secondary-color);
  height: var(--button-font-size);
}

.metronome-note-active {
  fill: var(--main-color);
  height: var(--button-font-size);
}

.metronome-note-flex {
  display: flex;
  justify-content: left;
  align-items: center;
}
