.tuning-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
  border-radius: 0.5em;
  cursor: pointer;
}

.tuning-menu-item:hover {
  cursor: pointer;
  background: var(--lighter-background-color);
}

.instrument-select-button {
  flex-basis: 25%;
  padding: 0.5em 0 0.5em 0;
  background-color: transparent;
  color: var(--primary-color);
}

.tuning-table-delete {
  margin-left: auto;
  visibility: hidden;
}

.tuning-menu-item:hover .tuning-table-delete {
  visibility: visible;
}

.tuning-table-delete:hover {
  color: var(--deny-color);
}

.instrument-selected-tab {
  flex-basis: 25%;
  background-color: var(--stronger-background-color);
  border-radius: 1em 1em 0em 0em;
}

.tunings-list {
  flex: 1 1 0;
  padding: 0em 0.5em;
  min-height: 10em;
  max-height: 15em;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
  margin-bottom: 0.25em;
  box-shadow: var(--inner-shadow);
}

.tuning-menu-header {
  text-align: left;
  margin-top: 0em;
  margin-bottom: 0.25em;
}
