.tuning-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
}

.tuning-menu-item:hover {
  cursor: pointer;
  background: var(--lighter-background-color);
}

.tuning-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.instrument-select-panel {
  display: flex;
  background-color: var(--lighter-background-color);
}

.instrument-select-button {
  flex-basis: 25%;
  padding: 0.5em 0 0.5em 0;
  background-color: transparent;
  color: var(--primary-color);
}

.instrument-select-button:hover {
  flex-basis: 25%;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.tuning-table-delete {
  visibility: hidden;
}

.tuning-menu-item:hover .tuning-table-delete {
  visibility: visible;
}

.instrument-selected-tab {
  flex-basis: 25%;
  background-color: var(--stronger-background-color);
  border-radius: 1em 1em 0em 0em;
}

.tuning-save-button {
  cursor: pointer;
  width: 100%;
  font-size: 2em;
  border-radius: 0.25em;
  background-color: var(--lighter-background-color);
  color: var(--secondary-color);
}

.tuning-save-button:hover {
  cursor: pointer;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.tuning-save-button:disabled {
  cursor: default;
  color: var(--lighter-background-color);
  background-color: transparent;
  border: 1px solid var(--lighter-background-color);
}

.tunings-list {
  width: 100%;
  overflow-y: scroll;
}

.tuning-slider {
  margin-top: auto;
}

.tuner-menu-tab {
  position: absolute;
  color: var(--secondary-color);
  top: 1em;
  left: 0.5em;
  text-align: left;
  cursor: pointer;
  transition: color 0.25s;
}

.tuner-menu-tab:hover {
  color: var(--primary-color);
}
