.tuning-menu-item {
  padding: 0.125em 0.5em 0.125em 0.5em;
  display: flex;
  gap: 0.125em;
  border-radius: 1em;
}

.tuning-menu-item:hover {
  cursor: pointer;
  background: var(--lighter-background-color);
}

.tuning-menu {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.instrument-select-button {
  flex-basis: 25%;
  padding: 0.5em 0 0.5em 0;
  background-color: transparent;
  color: var(--primary-color);
}

.tuning-table-delete {
  visibility: hidden;
}

.tuning-menu-item:hover .tuning-table-delete {
  visibility: visible;
}

.instrument-selected-tab {
  flex-basis: 25%;
  background-color: var(--stronger-background-color);
  border-radius: 1em 1em 0em 0em;
}

.tuning-save-button {
  cursor: pointer;
  width: 100%;
  font-size: 2em;
  border-radius: 0.25em;
  background-color: var(--lighter-background-color);
  color: var(--secondary-color);
}

.tuning-save-button:hover {
  cursor: pointer;
  background-color: var(--lighter-background-color);
  color: var(--primary-color);
}

.tuning-save-button:disabled {
  cursor: default;
  color: var(--lighter-background-color);
  background-color: transparent;
  border: 1px solid var(--lighter-background-color);
}

.tunings-list {
  height: 10em;
  padding: 1em;
  overflow-y: auto;
  background-color: var(--main-background-color);
  border-radius: 0.5em;
}

/* width */
.tunings-list::-webkit-scrollbar {
  width: 1em;
  right: -8px;
  position: absolute;
}

/* Track */
.tunings-list::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.tunings-list::-webkit-scrollbar-thumb {
  background-color: var(--lightest-background-color);
  border-radius: 0.5em;
  border: 0.25em solid transparent;
  background-clip: content-box;
  width: 0.5em;
  cursor: grab;
  transform: translateX(-0.25em);
}

/* Handle on hover */
.tunings-list::-webkit-scrollbar-thumb:hover {
}

.tuning-slider {
  margin-top: auto;
}
