#root {
  margin: 0 auto;
  text-align: center;
}

.app-content {
  width: 100%;
  display: flex;
  justify-content: baseline;
  align-items: center;
  height: calc(100vh - var(--navbar-height));
  min-height: 600px;
  position: relative;
  overflow-y: auto;
}

@media only screen and (max-width: 600px) {
  .app-content {
    align-items: flex-start;
  }
}
