#root {
  margin: 0 auto;
  text-align: center;
}

#root * {
  /* border: 2px solid white; */
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.app-content {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
}
