:root {
  color-scheme: light dark;

  --main-background-color: light-dark(#dddddd, #333333);
  --lighter-background-color: light-dark(#eeeeee, #414141);
  --lightest-background-color: light-dark(#ffffff, #4d4d4d);
  --main-color: light-dark(#000000, #d3d9dc);
  --secondary-color: light-dark(#333333, #9ea8ae);
  --text-glow-color: light-dark(#000000, #ffffff);
  --headstock-color: light-dark(#faf4f0, #3f14147a);
  --peg-color: light-dark(#faf4f0, #3f14147a);
  --main-shadow: 0.125em 0.25em 0.25em rgb(0 0 0 / 0.5);
  --inner-shadow: inset 0 0 0.25em rgb(0 0 0 / 0.5);
  --instrument-shadow: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));
  --primary-hue: light-dark(#23a8f2, #6d7ab5);
  --confirm-color: light-dark(#06df67, #479e6e);
  --deny-color: light-dark(#f91905, #b0564e);

  --strong-font: "Merriweather", sans-serif;
  --secondary-font: "Open Sans", sans-serif;

  font-size: clamp(16px, calc(10.2px + 0.97vw), 64px);
  --main-margin: 1em;

  --navbar-height: 2em;
  --button-font-size: 1em;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.light-mode {
  /* forces light color-scheme */
  color-scheme: light;
}
.dark-mode {
  /* forces dark color-scheme */
  color-scheme: dark;
}

.strong-font {
  font-family: var(--strong-font);
}

.secondary-font {
  font-family: var(--strong-font);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--secondary-font);
}

h1,
h2,
h3 {
  font-family: var(--strong-font);
}

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background: none;
  font-size: var(--button-font-size);
  background-color: transparent;
  color: var(--secondary-color);
  transition: color 0.25s;
}

button:hover {
  color: var(--main-color);
  cursor: pointer;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-panel {
  background-color: var(--lighter-background-color);
  color: var(--main-color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  box-shadow: var(--main-shadow);
}

.acrylic {
  background: light-dark(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

button.big-button {
  cursor: pointer;
  margin-bottom: 1rem;
  width: auto;
  font-size: 2em;
  border-radius: 0.25em;
  background-color: var(--primary-hue);
  color: var(--primary-color);
  border: 0.0625em solid transparent;
  transition: border-color 0.25s, color 0.25s, background-color 0.25s;
}

.big-button:hover {
  cursor: pointer;
  color: var(--text-glow-color);
}

.big-button:disabled {
  cursor: default;
  color: var(--lighter-background-color);
  background-color: var(--main-background-color);
  box-shadow: var(--inner-shadow);
}

input {
  color: var(--main-color);
}

.classy-scroll::-webkit-scrollbar {
  width: 1em;
  right: -8px;
  position: absolute;
}

.classy-scroll::-webkit-scrollbar-track {
  background: transparent;
  cursor: default;
}

.classy-scroll::-webkit-scrollbar-thumb {
  background-color: var(--lighter-background-color);
  border-radius: 0.5em;
  border: 0.25em solid transparent;
  background-clip: content-box;
  width: 0.5em;
  cursor: default;
}

.classy-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--lightest-background-color);
}
