:root {
  --main-background-color: #121212;
  --stronger-background-color: #000000;
  --lighter-background-color: #2a2a2a;
  --main-color: #ffffff;
  --secondary-color: #b3b3b3;
  --button-font-size: 2em;
  background-color: var(--main-background-color);
  color: var(--main-color);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  place-items: center;
}

button {
  font-size: var(--button-font-size);
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--secondary-color);
  transition: color 0.25s;
}
button:hover {
  color: var(--main-color);
}
