:root {
  color-scheme: light dark;

  --main-background-color: light-dark(#dddddd, #333333);
  --lighter-background-color: light-dark(#eeeeee, #414141);
  --lightest-background-color: light-dark(#ffffff, #4d4d4d);
  --main-color: light-dark(#000000, #d3d9dc);
  --secondary-color: light-dark(#333333, #9ea8ae);
  --text-glow-color: light-dark(#000000, #ffffff);
  --shadow-color: light-dark(rgb(0 0 0 / 0.2), rgb(128 128 128 / 0.2));
  --primary-hue: light-dark(#23a8f2, #6d7ab5);
  --confirm-color: light-dark(#06df67, #479e6e);
  --deny-color: light-dark(#f91905, #b0564e);

  font-size: clamp(16px, 1.5vw, 64px);
  --main-margin: 1em;

  --navbar-height: 3em;
  --button-font-size: 1em;
  background-color: var(--main-background-color);
  color: var(--main-color);
}

.light-mode {
  /* forces light color-scheme */
  color-scheme: light;
}
.dark-mode {
  /* forces dark color-scheme */
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Merriweather", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

button {
  padding: 0;
  border: none;
  background: none;
  font-size: var(--button-font-size);
  background-color: transparent;
  color: var(--secondary-color);
  transition: color 0.25s;
}

button:hover {
  color: var(--main-color);
  cursor: pointer;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-panel {
  background-color: var(--lighter-background-color);
  color: var(--main-color);
  border-radius: 1em;
  margin: 1em;
  padding: 1em;
  box-shadow: 0 3px 10px var(--shadow-color);
}

.acrylic {
  background: light-dark((0, 0, 0, 0.8), (0, 0, 0, 0.8));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

input {
  color: var(--main-color);
}
