h3{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  display: -moz-box;
  -moz-box-orient: vertical;

  overflow: hidden;
  text-overflow: ellipsis;
}

.video-query-panel{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  align-content: flex-start;
  overflow-x: hidden;

  height: 100%;
  overflow-x: hidden;
  z-index: 1; /* Stay on top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  border-radius: 0px 10px 10px 0px;
  background-color: black;
}

.search-panel{
  display: grid;
  grid-template-columns: 50px 0px;
  overflow-x: hidden;
  color: white;
  transition: grid-template-columns 0.3s;
}

.expanded-search-panel{
  grid-template-columns: 50px 800px;
}

.queried-video-card{
  border-radius: 10px;
  margin: 5px;
  background-color: black;
}

.queried-videos{
  display: flex;
  overflow-x: hidden;
  height: 300px;
  border-radius: 0px 0px 10px 10px;
  transition: height 0.3s;
}

.collapsed-queried-videos{
  height: 0px;
}

.video-search-button{
  border-radius: 10px 0px 0px 10px;
  height: 100%;
}


.search-panel input{
  border-radius: 5px;
}

.search-panel label{
  font-weight: bold;
}