.playlist-row{

}

.playlist-table td, th{
  text-align: left;
}

.playlist-row > td{
  padding: 10px;
}

.playlist-row:hover{
  background: grey;
}

.playlist-table{
  border-collapse: collapse;
}

.playlist-row div{
  visibility: hidden;
}

.playlist-row div:hover{
  cursor: pointer;
}

.playlist-row:hover div{
  visibility: visible;
}